h1{
    font-size: 80px;
    font-family: 'Allan', cursive;
    text-align: center;
    text-shadow: 2px 2px 7px rgb(39, 38, 38);
    letter-spacing: 10px;
    color: ivory;
    background-color: teal;
    margin:0;
    padding:20px;

}
h2{
    font-size:40px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    border-radius: 20px;
    color:teal;
    margin: 0;
    padding-top: 60px;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: teal;
    background-color:ivory;
    padding-top: 10px;
}


.menu{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 7px rgb(39, 38, 38);
    background-color:rgb(7, 172, 172);
    margin-top: 0;
     
}

.menu a{
    color: ivory;
    text-decoration: none;
    padding: 20px 10px;
    display: inline-block;
    cursor:context-menu; 
}

.menu li{
    display: inline-block;
    min-width: 10%;
}

li:hover,
li:focus{
    background-color: white;
}

img{
    width: 23%;
    border-radius: 50%; 
    float: left; 
    padding: 3%;
    margin:0;
}

body{
    margin:0;
}

.kontakt{
    max-width: 500px;
    padding-left: 450px;  
}

.obalka{
    width:400px;
    padding-right: 30px;
    float:right;
    border-radius: 20%;
}

.uvod p{
    text-align: center;
    font-size: 40px;
}